body{
    background-color: rgba(111, 3, 5, 1);
    font-family: Oswald;
}
html{
    scroll-behavior: smooth;
}

.mainlogin{
    text-align: center;
    margin-top: 10%;
}
.mainlogin h2{
    color: white;
}
.mainlogin p{
    font-size: 20px;
    color: white;
}

.logindesign{
    padding: 20px;
    background-color: white;
    width: 400px;
    margin: auto;
    border-radius: 20px;
}
.logindesign img{
    width: 70px;
    height: 70px;
}
.logindesign p{
    font-size: 30px;
}
.user{
    font-size: 20px;
}
.inputs{
    border: 2px solid black;
    width: 300px;
    height: 30px;
}
a{
    text-decoration: none;
}
.btn{
    padding: 20px;
    cursor: pointer;
    border: none;
    width: 130px;
    border-radius: 20px;
    color: white;
    background-color: rgba(0, 58, 123, 1);
}
.btn:hover{
    background-color: rgba(0, 58, 123, 0.90);
}



/*Borrow Css Design*/
.borrowcontainer{
    margin-top: 13%;
}
.borrowcontainer input{
    margin-left: 50px;
}
.borrowcontainer{
    font-size: 20px;
}
.borrowcontainer input{
    border: 2px solid black;
    width: 300px;
    height: 30px;
}
.courseinput{
    margin-right: 34px;

}
.borrowform{
    padding: 20px;
    background-color: white;
    width: 700px;
    margin: auto;
    border-radius: 20px;
}
.arrow{
    width: 25px;
    height: 25px;
}
.backarrow{
    display:flex;
}




/*Return Css Design*/

.return{
    padding: 20px;
    background-color: white;
    width: 700px;
    margin: auto;
    border-radius: 20px;
    margin-top: 13%;
}


/*Blacklisted Css Design*/

.blacklisted{
    padding: 20px;
    background-color: white;
    width: 700px;
    margin: auto;
    border-radius: 20px;
    margin-top: 13%;

}
